<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/"> TitanCoin </a>
  <div>
    <button class="btn btn-outline-light" routerLink="/settings">
      Settings
    </button>
    &nbsp;
    <button class="btn btn-outline-light" routerLink="/new/transaction">
      Create Transaction
    </button>
    &nbsp;
    <button
      routerLink="/new/transaction/pending"
      class="btn btn-outline-light"
      *ngIf="thereArePendingTransactions()"
    >
      Pending transactions
      <span class="badge badge-light">{{
        blockchain.pendingTransactions.length
      }}</span>
    </button>
  </div>
</nav>
<router-outlet></router-outlet>
